@import 'bourbon';
@import 'neat';
@import "../../node_modules/react-bootstrap-daterangepicker/css/daterangepicker.css";


@import '~fullcalendar/dist/fullcalendar.css';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

$grid-columns: 12 !default;
$gutter: 0 !global;

body {
margin: 0;

}

html, body  {
    max-width: 100%;
    overflow-x: hidden;
   height: 100%;
   min-height: 100%;
}



li {
  list-style-type: none;
}

.top-bar {
  background: rgba(255, 255, 255, 0.1);
  @include span-columns(12) ;
  position: fixed;
z-index: 2;
}

.title-area {
  float: right;
  width: 450px;
  position: relative;
}

.account {
  display: inline-block;
 margin-left: 10px;
 z-index: 2;
 font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
.home {
color: white;
  display: inline-block;
z-index: 2;
font-family: sans-serif;
}

.signup:hover {
  background-color: rgba(0, 220, 249, 1);
}

.signup {
  display: inline-block;
 margin-left: 10px;
 z-index: 2;
 font-family: sans-serif;
   background-color: rgba(255, 160, 0, 1);
   border: none;
   border-radius: 60px 60px 60px 60px;
   width: 80px;
}

.header-overlay {
  background: rgba(50, 69, 84, 0.65);
height: 800px;
position: relative;
bottom: 200px;
z-index: 1;

}

.loginBackground {
background-image: url("../../public/assets/images/phone-guy.jpg");
background-size: cover;
height: 700px;
z-index: -2;
}

.signupBackground {
  background-image: url("../../public/assets/images/phone-guy.jpg");
  background-size: cover;
  height: 700px;
  z-index: -2;

}

.practice {
  height: 500px;
  max-width: 100%;

}

.attention-graber {
  display: block;
  position: relative;
  left: 200px;
  top: 200px;
color: white;
  width: 800px;
  font-family: sans-serif;
  font-size: 30px;
 z-index: 2;
}

.login-title {
  position: relative;
  left: 400px;
  top: 70px;
}

.login-email {
  position: relative;
  left: 400px;
  top: 250px;
  width: 270px;
  height: 40px;
  background-color: rgba(50, 69, 84, 1);
  border: none;
  border-radius: 60px 60px 60px 60px;
  color: white;
z-index: 2;
font-family: sans-serif;
font-size: 15px;
}

textarea:focus, input:focus, button:focus{
    outline: 0;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  padding-left: 20px;
  color: white;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 1.5em;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left: 10px;
}

.login-password {
position: relative;
left: 130px;
top: 300px;
width: 270px;
height: 40px;
z-index: 2;
background-color: rgba(50, 69, 84, 1);
border: none;
border-radius: 60px 60px 60px 60px;
color: white;
font-family: sans-serif;
font-size: 15px;
}

.login-button:hover {
  background-color:  rgba(0, 220, 249, 1);
  transition: ease-in;
}




.login-button {
  position: relative;
  left:-65;
right: 140px;
  top:380px;
  width: 100px;
  height: 40px;
  border: rgba(40, 197, 96, 1);
  background-color: rgba(40, 197, 96, 1);

  color: white;
  border-radius: 60px 60px 60px 60px;

font-family: sans-serif;
z-index: 2;
}

.signup-button:hover {
  background-color: rgba(0, 220, 249, 1);
}

.signup-button {
position: relative;
top: 379px;
left: -120px;
right: 30px;
z-index: 2;
font-family: sans-serif;
height: 40px;
width: 150px;
background-color: rgba(255, 160, 0, 1);
border-radius: 60px 60px 60px 60px;
border: none;
color: white;
}

.setup-page {
  background: rgba(36, 40, 45, 1);
  height: 400px;
}

.SetupForm {
  background: rgba(36, 41, 46, 1);
  width: 300px;
position: relative;
top: 100px;
color: white;
//border: solid 2px rgba(22, 27, 31, 1);
font-family: sans-serif;
@include span-columns(12) ;
height: 450px;
}

.currentBalance-box {
  text-align: center;
  font-family: sans-serif;
  height: 50px;
  border: solid 2px rgba(22, 27, 31, 1);
  @include span-columns(4) ;
  height: 400px;
}

.incomeBalance-box {
  text-align: center;
  font-family: sans-serif;
  height: 50px;
  border-top: none;
  border: solid 2px rgba(22, 27, 31, 1);
  @include span-columns(4) ;
  height: 400px;
}

.billBalance-box {
  text-align: center;
  font-family: sans-serif;
  height: 50px;
  border-top: none;
  border: solid 2px rgba(22, 27, 31, 1);
  @include span-columns(4) ;
  height: 400px;
}



.forecast-setup {
  color: rgba(0, 220, 249, 1);
  text-align: center;

height: 20px;
position: relative;
top: 80px;
font-family: sans-serif;
@include span-columns(12);
}

.fc {
  @include span-columns(12);
  position: relative;
  top: 100px;
    background: rgba(36, 41, 46, 1);

}

.fc{
  color: white;

}

.nameAccount-input {
  position: relative;
  top: 3px;
  left: -50px;
}

.bankBalance-input{
  position: relative;
  top: 12px;
left: -40px;
}

.nameLabel {
  position: relative;
  top: 20px;
  display: block;
  left: -150px;
  right: 50px;
}

.amountLabel {
  position: relative;
  display: block;
  top: 30px;
  left: -145px;
}

.incomeAmount-label {
  display: block;
  position: relative;
  top: 20px;
  left: -145px;
}

.incomeAmount-input {
  position: relative;
  top: 0px;
}

.nameIncome-label {
  display: block;
  position: relative;
  top: 10px;
  left: -150px;
}

.nameIncome-input {
  position: relative;
  left: 0px;
  top: -8px;
}

.select-frequency {
  position: relative;
  left: 10px;
}

.selectIncome-category {
  position: relative;
  left: 10px;
  top: -10px;
}

.startDate-label {
  position: relative;
  left: -155px;
  display: block;
  top: 20px;
}

.start-datepicker {
  display: block;
  position: relative;
  left: 70px;
  width: 120px;
}

.endDate-income {
  position: relative;
  display: block;
  left: 20px;
  top: -18px;
}

.end-datepicker {
  position: relative;
  left: 100px;
  top: -39px;
  width: 120px;
}
